<div class="content-wrap">
  <div class="content-center">
    <form class="form-edit" action="#">
      <div class="form-edit__avatar">
        <img src="img/avatar-lg.png" alt="" />
      </div>

      {{#each editProfileInputs}}
        {{> formInputEdit}}
      {{/each}}

      <div class="form-edit__bottom">
        <button type="submit" class="form-edit__submit button">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>