#avatar {
  display: none;
}

.avatar-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 190px;
  background-color: #000;
  opacity: 0.6;
  display: none;
}

.form-edit {
  width: 510px;
  text-align: center;

  &__avatar {
    margin: 20px auto 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 50%;
    }
    &_hover {
      position: relative;

      &:hover > .avatar-label {
        display: flex;
      }
    }
  }

  &__avatar-send {
    margin-top: 10px;
  }

  &__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 5px 0 0;
    color: #1e1e1e;
  }

  &__group {
    position: relative;
  }

  &__input {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    box-sizing: border-box;
    color: #999999;
    text-align: right;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 8px 0;
  }

  &__label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #1e1e1e;
    position: absolute;
    left: 0;
    top: 8px;
  }

  &__bottom {
    margin: 50px 0 0;
  }

  &__submit {
    width: 280px;
  }

  &__link {
    margin: 15px 0 0;
    font-size: 13px;
    text-align: left;
  }
}
