.search {
  padding: 0 10px;
  position: relative;
  text-align: center;
  margin: 0 0 15px;

  &__input {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #999999;
    padding: 10px 10px 10px 130px;
    width: 290px;
    box-sizing: border-box;
    background: url(../../../static/img/search.svg) no-repeat 110px 10px #efefef;
    border-radius: 5px;
    transition: 0.6s;
    border: none;
    outline: none;

    &:focus {
      background: url(../../../static/img/search.svg) no-repeat 12px 10px
        #efefef;
      padding: 10px 10px 10px 32px;
    }

    &:not(:placeholder-shown) {
      background: url(../../../static/img/search.svg) no-repeat 12px 10px
        #efefef;
      padding: 10px 10px 10px 32px;
    }
  }
}
